*.obj
*.pdb
*.user
*.aps
*.pch
*.vssscc
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.build.csdef
*.[Pp]ublish.xml
ASPNETDB.MDF
aspnetdb_log.ldf
[Oo]bj/
[Bb]in
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
BuildProcessTemplates/*
Published/*
[Tt]humbs.db
[Uu]pgradeLog*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
[Pp]ackage/*
deploy
deploy/*